.profile{
    justify-content: center;
    align-items: center;
    display: block;
}

.avatar{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: block;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.name, .tag, .location{
    justify-content: center;
    align-items: center;
    font-size: 18px;
    letter-spacing: 0.03em;
    color: gray;
    display: flex;
}
.name {
    font-weight: bold;
    color: black;
}
.stats{
    list-style: none;
    display: flex;
    justify-content: center;
        align-items: center;

}
.statsItem{
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 80px;
    justify-content: center;
    align-items: center;
    background-color: beige;
    border: 1px solid #afb1b8;
    font-size: 25px;
}

