.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: rgb(231, 241, 183);
    border: 2px solid gray;
}
.section{
 width: 500px;
 height: 250px;
 display: block;
 margin: 0 auto;
}
.title{
display: flex;
 justify-content: center;
}
.list{
    justify-content: center;
    align-items: center;
    display: flex;
    list-style: none;
    color: #010101;
     padding: 0;
}